@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
    --primario-50: #e6f0ee;
    --primario-100: #b0d0cb;
    --primario-200: #8abab1;
    --primario-300: #549a8e;
    --primario-400: #338678;
    --primario-500: #006856;
    --primario-600: #005f4e;
    --primario-700: #004a3d;
    --primario-800: #00392f;
    --primario-900: #002c24;

    --secundario-50: #f7eae6;
    --secundario-100: #e7bfb0;
    --secundario-200: #db9f8a;
    --secundario-300: #ca7454;
    --secundario-400: #c05933;
    --secundario-500: #b02f00;
    --secundario-600: #a02b00;
    --secundario-700: #7d2100;
    --secundario-800: #611a00;
    --secundario-900: #4a1400;

    --terciario-50: #fffffd;
    --terciario-100: #fffef7;
    --terciario-200: #fffdf4;
    --terciario-300: #fffcee;
    --terciario-400: #fffceb;
    --terciario-500: #fffbe6;
    --terciario-600: #e8e4d1;
    --terciario-700: #b5b2a3;
    --terciario-800: #8c8a7f;
    --terciario-900: #6b6961;

    --font-sans: "Roboto Mono", monospace;
    --font-serif: "Roboto", Georgia, 'Times New Roman';

    --texto-sm: 0.875rem; /*14px*/
    --texto-base: 1rem; /*16px*/
    --texto-lg: 1.125rem; /*18px*/
    --texto-xl: 1.25rem; /*20px*/
    --texto-2xl: 1.5rem; /*24px*/
    --texto-3xl: 1.875rem; /*30px*/
    --texto-4xl: 2.25rem; /*34px*/
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.header {
    background-color: var(--primario-700);
    width: 100%;
    position: fixed;
}
  
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 28px;
    position: relative;
}

.header__item a{
    color: var(--primario-50);
}
  
.header__logo img {
    max-width: 100%;
}
  
.header__links {
    display: flex;
    gap: 2rem;
    align-items: center;
}
  
.header__menu {
    display: none;
}
  
.header__menu--open {
    display: flex;
}
  
.header__list {
    display: flex;
    gap: 1rem;
    font-family: sans-serif;
    font-size: 1.25rem;
}
  
.header__item {
    transition: color 0.3s ease-in-out;
    list-style: none;
}

.header__item a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
  

.header__item:hover {
color: var(--color-on-primary);
}

.header__cart {
position: relative;
margin-right: 0.75rem;
}

.header__cart-count {
background-color: var(--color-primary);
color: var(--color-on-primary);
font-size: 10px;
padding: 2px 6px;
border-radius: 9999px;
position: absolute;
left: 1rem;
bottom: 1rem;
}

.header__mobile-button {
display: none;
}

@media (max-width: 1024px) {
.header__list {
    display: none;
}

.header__mobile-button {
    display: block;
    background-color: var(--primario-700);
}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary-container);
    padding: 1.5rem;
    z-index: 50;
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.header__menu--open {
    display: flex;
}
}



/* footer */

footer{
    background-color: var(--secundario-700);
    color: var(--terciario-50);
}

.rodape{
    display: grid;
    padding: 40px 30px;
}

.rodape__titulo{
    font-size: var(--texto-xl);
    padding-bottom: 30px;
}

.contato{
    flex-direction: column;
    display: flex;
    font-family: var(--font-sans);
    font-size: 12px;
    gap: 10px;
}

.contato__titulo{
    font-family: var(--font-serif);
    font-size: var(--texto-xl);
}

.contato-meios{
    display: grid;
    margin-bottom: 30px;
}

.contato-meios__tel, .contato-meios__email{
    text-decoration: none;
    font-size: var(--texto-base);
    color: var(--primario-50);
}
.final{
    font-family: var(--font-serif);
    text-align: center;
}

.button_fixed{
    position: relative;
    display: flex;
    justify-content: end;
    margin: 30px;
}

@media screen and (min-width: 640px){
    .rodape__titulo{
        font-size: var(--texto-3xl);
    }

    .contato__titulo{
        font-size: var(--texto-xl);
    }

    .contato-meios{
        font-size: var(--texto-lg);
    }
}

@media screen and (min-width: 1024px){
    .rodape{
        margin: 0 72px;
        max-width: 1024px;
        justify-self: center;
        padding-bottom: 60px;
    }

}