@import "../reset.css";

body{
    background-color: #E4E490;
}

.navegacao-inicial{
    display: grid;
    justify-items: center;
    background-color: var(--primario-700);
    padding: 122px 30px;
    gap: 16px;
    margin-bottom: 50px;
}

.navegacao-inicial__titulo{
    text-align: center;
    font-size: var(--texto-2xl);
    font-family: var(--font-sans);
    color: var(--terciario-50);
}

.menu-inicial{
    display: grid;
    gap: 16px;
}

.menu-inicial__botao{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--secundario-100);
    color: var(--secundario-900);
}

.menu-inicial__texto{
    font-size: var(--texto-xl);
}

.menu-inicial__icone{
    width: 34px;
}

.cadarpio__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
}

.cardapio-card{
    display: grid;
    justify-content: center;
    padding: 24px 20px;
    align-items: center;
    background-color: var(--terciario-50);
    border-radius: 12px;
}

.cadarpio__link{
    text-decoration: none;
    font-size: var(--texto-xl);
    color: var(--secundario-900);
}

.cadarpio{
    display: grid;
    margin: 0 30px;
    padding-bottom: 16px;
}

.cardapio-card__titulo{
    text-align: center;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--primario-100);
    font-size: var(--texto-xl);
    color: var(--secundario-900);
}

.cardapio-card__subtitulo{
    font-size: var(--texto-2xl);
    font-family: var(--font-sans);
    color: var(--secundario-900);
    padding-bottom: 6px;
}

.cardapio-card__descricao{
    font-size: var(--texto-base);
    color: var(--secundario-600);
    padding-bottom: 16px;
}

.cardapio-acompanhamento{
    padding-bottom: 16px;
}

.cardapio-acompanhamento__titulo{
    font-size: var(--texto-lg);
    font-family: var(--font-serif);
    color: var(--secundario-600);
    padding-bottom: 6px;
}

.cardapio-acompanhamento__grupo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secundario-600);
}

.botao-cardapio--primary{
    align-items: center;
    padding: 10px 8px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: var(--texto-base);
    color: var(--primario-600);
    background-color: var(--primario-100);
}



.cardapio-card__img img{
    width: 100%;
}

#entradas, #bebidas, #aperitivos{
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 640px){
    .navegacao-inicial__titulo{
        font-size: var(--texto-3xl);
    }

    .cadarpio__link{
        font-size: var(--texto-2xl);
    }

    .cardapio-card__titulo{
        font-size: var(--texto-2xl);
    }

    .cardapio-card__descricao{
        font-size: var(--texto-2xl);
    }
}

@media screen and (min-width: 1024px) {
    .navegacao-inicial__titulo{
        font-size: var(--texto-4xl);
    }

    .cadarpio__link{
        font-size: var(--texto-2xl);
    }

    .cadarpio{
        margin: 0 72px;
    }

    #entradas, #bebidas, #aperitivos{
        gap: 30px;
        padding-bottom: 16px;
    }

    .cadarpio{
        margin: 0 72px;
        max-width: 1024px;
        justify-self: center;
        padding-bottom: 60px;
    }
}